@import 'src/assets/styles/utility';
.cards {
	margin: 0 0 0 164px;
	&__trade {
		display: flex;
		align-items: center;
		&-card {
			width: 247px;
			height: 116px;
			border-radius: 16px;
			margin: -30px 42px 0 0;
			text-align: center;
			@include border-gradient;
			&-pair {
				font-weight: 500;
				font-size: 14px;
				line-height: 21px;
				color: rgba(255, 255, 255, 0.7);
				margin: 12px 0 4px 0;
			}
			&-height {
				font-size: 14px;
				line-height: 21px;
				color: #27ab33;
			}
			&-low {
				font-size: 14px;
				line-height: 21px;
				color: #ff3035;
			}
			&-rate {
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				color: #ffffff;
			}
			&-icon {
				width: 56px;
				height: 56px;
				border-radius: 50%;
				border: 2px solid #4024b2;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&__slider {
		display: flex;
		align-items: center;
		margin: 134px 0 7px -84px;
		&-arrow {
			width: 48px;
			height: 48px;
			border: 2px solid #4024b2;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 18px 0 0;
		}
		&-card {
			width: 265px;
			height: 144px;
			margin: 0 18px 0 0;
		}
		&-text {
			display: flex;
			align-items: center;
			&-first {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				color: rgba(255, 255, 255, 0.5);
				margin: 0 0 0 -16px;
			}
			&-second {
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 21px;
				color: #ffffff;
				margin: 0 0 0 16px;
			}
			&-arrow {
				margin: 0 0 0 9.25px;
			}
		}
	}
}
